.boxImageContent {
  background-color: #fafafa;
  border-radius: 10px;
  overflow: hidden;
  margin: 5rem 0;
}
.box-title{
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: $dark-color;
  margin: 5rem 0 -3rem 0;
  text-transform: capitalize;
}
.product-accessories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  height: 100%;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .title {
    font-size: 20px;
    color: $dark-color;
    text-transform: capitalize;
    font-weight: 700;
    opacity: 0.8;
  }
}
