.custome{
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    list-style: none;
    visibility: visible;
    list-style-type: none;
    color: #333333;
    text-align: center;
    line-height: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "huawei-iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: relative;
    font-size: 60px;
    height: 66px;
}
